

.pre .wraper-color-red {
    background: #01468b;
}

 .pre .color-wrapper {
    background: #01468b;
}

.pre .Specialist {
    background: #01468b;
}

.pre option {
 
    
    font-family: 20px;
    border: none;
 

}




.pre #medicine-input {
    padding: 10px;

    border: none;
}

.pre .button-design {
    padding: 22px 4px;
    background-color: #ff1e1e;
    color: #fff;
    border: 0px;
    font-size: 15px;
    font-weight: 700;
}

.pre .text {
    font-size: 40px;
    padding-top: 15px;
    background: linear-gradient(90deg, #9f0202, #871414, #a31b12, #6a0606, #b70f0f);
    text-transform: uppercase;
    font-family: 'poppins-regular', serif;
    ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
    /* padding-left: 60px;*/

}

.pre .navbar-expand-lg {
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding: 0px;
}


.pre .Specialist-background {
    padding-left: 20px;


}

.pre .heart {
    background: linear-gradient(19deg, #8d8b85, #6b7785, #b1ad9c);



}

.pre label {
    font-size: 12.5px;
}

.pre .btn-primary {
    border: 0px;
    outline: 0px;
    font-size: 30px color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
    width: 89%;
     !important font-family: 'poppins-regular', serif;
    font-weight: 800;
}

.pre .headind-1 {
    padding-left: 20px;
    font-weight: 600;
    font-family: serif;
    color: #094c9d;
    font-family: 'poppins-regular', serif;
}

.pre .btn-primary-primary {
    color: #fff;
    background-color: red;
    border-color: #0d6efd;
    border: 0px;
    outline: 0px;
    font-size: 24px;
    width: 99%;
    font-family: 'poppins-regular', serif;
    font-weight: 800;
}

.pre .btn-primary {
    border: 0px;
    outline: 0px;
    font-size: 30px color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
    width: 100%;
    font-family: 'poppins-regular', serif;
    font-weight: 800;
}

.pre .dropdown-toggle {
    white-space: nowrap;
    width: 94%;
    background: #2d2db7;
    border: 0px;
    outline: 0px;
    font-family: 'poppins-regular', serif;
    font-weight: 700;
    font-size: 18px;
}

.pre .btn-add-medicine {
    padding-top: 30px;
}

.pre .headind-2 {
    padding-left: 20px;
    font-weight: 600;
    font-family: serif;
    color: #094c9d;
    font-family: 'poppins-regular', serif;
}

.pre .headind-3 {
    padding-left: 20px;
    font-weight: 600;
    font-family: serif;
    font-family: 'poppins-regular', serif;
}

.pre .para {
    padding-left: 20px;
    font-size: 20px;
    font-family: serif;
    font-family: 'poppins-regular', serif;
}

.pre .head-1 {
    text-align: end;
    font-weight: 600;
    font-family: serif;
    color: #094c9d;
    font-family: 'poppins-regular', serif;
    padding-right: 20px;
    padding: 0px;
}

.pre .head-2 {
    text-align: end;
    font-weight: 600;
    font-family: serif;
    color: #094c9d;
    font-family: 'poppins-regular', serif;
    padding-right: 20px;
    padding: 0px;
}

.pre .head-3 {
    text-align: end;
    font-weight: 600;
    font-family: serif;
    font-family: 'poppins-regular', serif;
    padding-right: 20px;
    padding: 0px;
}

.pre .head-4 {
    padding-right: 20px;
    font-size: 28px;
    font-family: serif;
    font-family: 'poppins-regular', serif;
    text-align: end;
    padding: 0px;
    padding-top: 10px;
}

#horizontal-line {
    width: 100%;
    height: 2px;
    background-color: #0000004a;
}

.pre .horizontal-line-top {
    padding-top: 20px;
}

.pre .Specialist-black-color {
    background: #f8f9fa;
    padding-top: 40px;
}

.pre .Specialist-4 {
    background: #f8f9fadb;
    height: auto;
    padding-top: 20px;

    padding: 0px
}

.pre .button,
input,
optgroup,
select,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    width: 100%;
}

h5,
h2 {
    color: #0e0000;
}

#username {
    background: #fff;
}

.pre .footer {
    background: #01468b;
    padding-top: 50px;
    margin-bottom: 20px;
}

.pre .footer-heading {
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: 500;
    font-family: sans-serif;

}

.pre .dropdown-item {
    display: block;
    width: 100%;
    padding: .pre .25rem 1rem;

    font-weight: 400;


    text-decoration: none;


    border: 0;
    background: rebeccapurple;
    color: white;
    font-weight: 700;
    border-bottom: 1px solid blanchedalmond;
}

.pre .footer-head {
    text-align: center;
    color: white;
    font-weight: 700;
}

@media (min-width: 600px) and (max-width:1200px) {
    .pre .dropdown-toggle {
        white-space: nowrap;
        width: 100%;
        background: #2d2db7;
        border: 0px;
        outline: 0px;
        font-family: 'poppins-regular', serif;
        font-weight: 700;
        font-size: 18px;
        margin: 4px;
    }

    .pre .text {
        font-size: 32px;
        padding-top: 0px;
        background: linear-gradient(90deg, #9f0202, #871414, #a31b12, #6a0606, #b70f0f);
        text-transform: uppercase;
        font-family: 'poppins-regular', serif;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 900;
        padding-left: 0px;
        text-align: center;
    }

    .pre .Specialist {
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 500px) {
    .pre .head-4 {
        padding-right: 18px;
        font-size: 23px;

        font-family: 'poppins-regular', serif;

        padding-top: 10px;
        text-align: center;
    }

    .pre .head-2 {

        font-weight: 600;
        font-family: serif;
        color: #094c9d;
        font-family: 'poppins-regular', serif;
        padding-right: 20px;

        text-align: center;
    }

    .pre .head-3 {

        font-weight: 600;
        font-family: serif;
        font-family: 'poppins-regular', serif;
        padding-right: 20px;

    }

    .pre .head-1 {

        font-weight: 600;
        font-family: serif;
        color: #094c9d;
        font-family: 'poppins-regular', serif;
        padding-right: 20px;

        text-align: center;
        font-size: 33px;
    }

    .pre .dropdown-toggle {
        white-space: nowrap;
        width: 100%;
        background: #2d2db7;
        border: 0px;
        outline: 0px;
        font-family: 'poppins-regular', serif;
        font-weight: 700;
        font-size: 18px;
        margin: 4px;
    }

    .pre .text {
        font-size: 28px;
        padding-top: 0px;
        background: linear-gradient(90deg, #9f0202, #871414, #a31b12, #6a0606, #b70f0f);
        text-transform: uppercase;
        font-family: 'poppins-regular', serif;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 900;
        padding-left: 0px;
        text-align: center;
    }

    .pre .footer-heading {
        text-align: center;
        color: white;
        font-size: 17px;
        font-weight: 500;
        font-family: sans-serif;
        margin-bottom: 13px;
    }

    .pre .footer {
        background: #01468b;
        padding-top: 33px;

        padding-bottom: 30px;
    }

    .pre .Specialist-background {
        padding-left: 20px;

    }
}